@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white;
}
@keyframes identifier {
  from {
    transform: translateX(-100px);
  }
  50% {
    transform: translateX(100px);
  }
  to {
    transform: translateX(-100px);
  }
}
.animate {
  animation: identifier 1s infinite;
}
